--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.1.0+cpu
Pillow
transformers
timm
auto-gptq
huggingface-hub
bitsandbytes
opencv-python
streamlit
numpy
pandas
matplotlib
gradio

